<head>
  <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    #s1 {
      font-family: 'Black Han Sans', sans-serif;
      text-align: center;
    }

    #s2 {
      border-radius: 15px;
    }

    a {
      color: darkgoldenrod;
    }
  </style>
</head>

<body>
  <span id="s1">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'about' %}">about</a>
      </li>
    </ul>
    <br>
    <h2 class="text-warning">&#128047 아기사자 글자수세기 &#128047 </h2>
    <br>
    <h4> <span class="p-3 mb-2 bg-warning text-dark" id="s2">&#128221 텍스트를 입력해주세요!</span></h4>
    <br>
    <form action="{%url 'result' %}">
      <textarea cols="40" rows="10" name="fulltext"></textarea>
      <br>
      <button type="submit" class="btn btn-warning" valuse>COUNT!</button>
    </form>
  </span>
</body>