{% extends 'base.html' %}
{% block content %}
<div class="div1">
    <form method="POST" action="{% url 'edit' blog.id %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">☛과목이름:</span>
            <input type="text" class="form-control" placeholder="과목명을 적어주세요!" aria-label="title" name="title" cols="25"
                aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-text">☛수강후기:</span>
            <textarea class="form-control" rows="5" cols="55" name="body" aria-label="With textarea"
                placeholder="수강후기를 적어주세요!"></textarea>
        </div>

        <div class="btnDiv">
            <button class="btn btn-outline-secondary" type="submit">제출</button>
        </div>
    </form>
</div>
{% endblock %}