{% extends 'base.html' %}


{% block content %}

<head>
  <style>
    .cardDiv {
      width: 600px;
      padding: 10px;
      margin: auto;
    }

    .card {
      width: 50%;
      float: left;
    }
  </style>
</head>

<body>

  <div class="card-group">

    <div class="cardDiv">
      {% for i in posts %}
      <div class="card">
        <img src="{{i.image_thumbnail.url}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{i.title}}</h5>
          <p>기분: {{i.mood}}</p>
          <p class="card-text">{{i.sum}}...</p>
        </div>
        <div class="card-footer">

          <div style="text-align: right;">
            <small class="text-muted">{{i.date}}</small>
            <a href="{% url 'detail' i.id %}">더보기</a>
          </div>

        </div>
      </div>

      {% endfor %}
    </div>
  </div>




  <br>
  <ul class="pagination justify-content-center">
    {%if posts.has_previous%}
    <li><a class="page-link" style="color:black; font-size:20px;" href="?page=1">First</a></li>
    <li><a class="page-link" style="color:black; font-size:20px;" href="?{{posts.previous_page_number}}">Previous</a>
    </li>
    {%endif%}

    {% for page in posts.paginator.page_range%}
    {% if page == posts.number %}
    <li class="page-item "><a class="page-link disabled" style="color:#92B4EC; font-size:20px;">{{ page }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ page }}" style="color:black; font-size:20px;">{{page}}</a>
    </li>
    {% endif %}
    {% endfor %}
    {%if posts.has_next%}
    <li><a class="page-link" href="?page={{posts.next_page_number}}" style="color:black; font-size:20px;">Next</a>
    </li>
    <li><a class="page-link" href="?page={{posts.paginator.num_pages}}" style="color:black; font-size:20px;">Last</a>
    </li>
    {%endif%}
  </ul>
  </div>
  {% endblock %}