{% load static %}

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>

    <title>좋아요 프로젝트</title>

</head>

<body>
    <header class="header">
        <a class=title href="{% url 'home' %}">익명 게시판</a>
        {% if user.is_authenticated %}
        {{user.username }}
        <a class="new_post" href="{% url 'new' %}">새 글 쓰기</a>
        <a href="{% url 'signout' %}">로그아웃</a>
        {% else %}
        <a href="{% url 'signin' %}">로그인</a>
        <a href="{% url 'signup' %}">회원가입</a>
        {% endif %}
        <hr>
    </header>

    {% block content %}
    {% endblock %}
</body>